In [ ]:
import pandas as pd
df = pd.read_csv('/content/Restaurants.csv')

In [ ]:
# Display the first few rows of the dataset
print("Original Dataset:")
print(df.head())

Original Dataset:
                             Name  Ratings ReviewCount  \
0                     Quarterdeck      3.9         225
1                            WTF!      4.2       1,075
2                    Cafe Holiday      3.6          29
3  The Cottage Bar - Abbott Hotel      3.6          73
4              The Atrangii House      4.4         653

                            Location  \
0                4 Bungalows, Mumbai
1  7 Bungalows, Andheri West, Mumbai
2  7 Bungalows, Andheri West, Mumbai
3   Abbott Hotel, Vashi, Navi Mumbai
4                Airoli, Navi Mumbai

                                             Cuisine Cost (for two)
0            North Indian, Mughlai, Chinese, Seafood            800
1                 North Indian, Chinese, Continental          1,500
2  Continental, Oriental, American, Fast Food, De...          1,500
3  North Indian, Chinese, Seafood, Continental, M...          1,400
4  North Indian, Chinese, Continental, Asian, Bev...          1,500

Use any 5

In [ ]:
#1 Remove comma from 'Cost (for two)' column and convert it to integer
df['Cost (for two)'] = df['Cost (for two)'].str.replace(',', '').astype(int)

In [ ]:
# 2. Remove rows with zero or negative values in 'Cost (for two)' column
df = df[df['Cost (for two)'] > 0]

In [ ]:
# 3. Remove whitespace from 'Location' column
df['Location'] = df['Location'].str.strip()

In [ ]:
# 6. Remove rows with missing values
df.dropna(inplace=True)

In [ ]:
# 7. Convert 'Cuisine' column to lowercase
df['Cuisine'] = df['Cuisine'].str.lower()

In [ ]:
# 8. Remove duplicate rows if any
df.drop_duplicates(inplace=True)

In [ ]:
# 9. Normalize ratings to a scale of 0 to 5
df['Ratings'] = df['Ratings'] / 5.0

In [ ]:
# 11. Remove special characters and symbols from 'Name' column
import re
df['Name'] = df['Name'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))

In [ ]:
# 12. Extract numeric values from 'Location' column (if any)
df['Location'] = df['Location'].str.extract('(\d+)')

In [ ]:
# 13. Convert 'Cuisine' column to a list of cuisines
df['Cuisine'] = df['Cuisine'].str.split(', ')

In [ ]:
# 14. Standardize 'Location' column by converting it to lowercase
df['Location'] = df['Location'].str.lower()

In [ ]:
# 15. Remove leading and trailing whitespaces from 'Name' column
df['Name'] = df['Name'].str.strip()

In [ ]:
# 16. Remove rows with invalid or missing cuisine information
df = df[df['Cuisine'].apply(lambda x: isinstance(x, list))]

In [ ]:
# Display the cleaned dataset
print("\nCleaned Dataset:")
print(df.head())

Cleaned Dataset:
                            Name  Ratings ReviewCount Location  \
0                    Quarterdeck     0.78         225        4
1                            WTF     0.84       1,075        7
2                   Cafe Holiday     0.72          29        7
3  The Cottage Bar  Abbott Hotel     0.72          73      NaN
4             The Atrangii House     0.88         653      NaN

                                             Cuisine  Cost (for two)
0          [north indian, mughlai, chinese, seafood]             800
1               [north indian, chinese, continental]            1500
2  [continental, oriental, american, fast food, d...            1500
3  [north indian, chinese, seafood, continental, ...            1400
4  [north indian, chinese, continental, asian, be...            1500